@font-face{
	font-family: HelveticaNeue-UltraLight; 
	src: url("HelveticaNeue-UltraLight.ttf");
}
body {
	font-family: HelveticaNeue-UltraLight;
	letter-spacing: 2.65625px;
	font-weight: bold;
	font-size: 8.5px;
	line-height: 0px;
	text-align: center;
	width: 100%;
	color: slategray;
	animation: fadenorm .3s;
}
h1:hover span{
	display:none;
}
h1:hover:before {
	content: "DESIGNER";
}
.in-middle{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
	color: slategray;
}
#connectfade{
 animation: fade 1.3s;
}
.dropdown{
  border-radius: 14px;
  border: 0.5px solid slategray;
  padding: 1px; 
  width: 152px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  position: relative;
  display: inline-block;
  animation: fadenorm .3s, buttonexp .9s;
}
p {
  position: relative;
  display: list-item;
  border-radius: 10px;
  border: 0.5px solid slategray;
  padding: 1px; 
  width: 152px;
  height: 14px;
  line-height: 14px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 152px;
  text-align: center;
}
.dropdown:hover .dropdown-content{
	display: block;
}
a{
	color: slategray;
	text-decoration: none;
	text-decoration-color: none;
}
/* Hover States */
a:hover{
	animation:glow 1s;
	text-decoration: none;
}
/*Animations*/
@keyframes buttonexp {
	0% {transform: scaleX(0);}
	}
@keyframes fade {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadenorm {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes glow {
   0%   {color: white;}
	40% {color: yellowgreen;}
	60% {color: yellowgreen;}
  100% {color: slategray;}
}
